.checkout-page {

  .checkout-container {
    margin: 4rem;
    border: 1px solid rgba(var(--theme-tertiary), 1);

    .checkout-headers {
      display: flex;
      padding: 2rem;
      text-align: center;
      background-color: rgba(var(--theme-tertiary), 1);
      color: rgba(var(--theme-primary), 1);;
      font-size: 1.8rem;
      font-weight: 600;

      div {
        flex: 1 1 0;
      }

      @media screen and (max-width: 1199px) {
        display: none;
      }

      @media screen and (max-width: 1679px) {}
      @media screen and (max-width: 1439px) {}
      @media screen and (max-width: 1199px) {}
      @media screen and (max-width: 959px) {}
      @media screen and (max-width: 719px) {}
      @media screen and (max-width: 479px) {}
      @media screen and (max-width: 239px) {}
    }

    .checkout-content {

      background-color: rgba(var(--theme-primary), 1);

      @media screen and (max-width: 959px) and (min-width: 720px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        //justify-items: start;
      }

      @media screen and (max-width: 1199px) and (min-width: 960px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //justify-items: start;
      }
    }

    .checkout-footer {
      padding: 4rem 2rem;
      text-align: center;
      background-color: rgba(var(--theme-primary), 1);
    
      .total {
        font-size: 2.2rem;
        margin: 2rem 0;
      }
    
      .test-warning {
        font-size: 1.6rem;
        margin: 2rem 0;
        color: red;
      }
    }
  }
}