@font-face {
  font-family: 'Inter-Variable-Font';
  src: url('./fonts/Inter-VariableFont.ttf') format("truetype-variations");
  unicode-range: U+0020-007F;
  font-display: swap;
  font-weight: 1 999;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}